<app-layout>
  <section
    class="h-screen w-full max-w-5xl mx-auto p-2 rounded-md overflow-x-hidden animate-fade-left animate-duration-500 animate-ease-in-out"
  >
    <!-- Header -->
    <div class="flex justify-between items-center">
      <!-- Back Icon -->
      <a routerLink="/">
        <div class="p-2 bg-slate-200 dark:bg-zinc-800 rounded-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            class="h-6 w-6 fill-current dark:text-zinc-200"
          >
            <path
              d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"
            />
          </svg>
        </div>
      </a>
      <p>{{ transaction.type }}</p>

      <!-- Trash Icon -->
      <div class="p-2 mr-1 bg-slate-200 dark:bg-zinc-800 rounded-full">
        <svg
          (click)="deleteTransaction(transaction.id)"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
          class="h-6 w-6 fill-current dark:text-zinc-200 cursor-pointer"
        >
          <path
            d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
          />
        </svg>
      </div>
    </div>
    <!-- Transaction Form content -->
    <main class="h-full p-4 mx-auto w-full">
      <!-- Title -->
      <div class="mt-2">
        <input
          type="text"
          name="title"
          [(ngModel)]="transaction.title"
          placeholder="Untitled"
          class="bg-transparent w-full border-0 text-3xl border-zinc-800 focus:outline-none placeholder:text-3xl placeholder:dark:text-zinc-600 placeholder:dark:font-bold"
        />
      </div>
      <!-- Category -->
      <div class="mt-4">
        <button
          (click)="showCategory = !showCategory"
          type="button"
          class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-500 font-medium rounded-lg text-sm px-4 p-1.5"
        >
          @if (selectedCategory==null && transaction.categoryId == '') {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            class="fill-current h-5 w-5"
          >
            <path
              d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
            />
          </svg>
          Add Category }@else{
          <span class="material-symbols-outlined">{{
            selectedCategory?.imageUrl || transaction.categoryId
              | idtoicon : categoryList
          }}</span>
          {{ transaction.categoryId | category : categoryList }}
          <span class="material-symbols-outlined"> chevron_right </span>
          }
        </button>
      </div>

      <!-- Date -->
      <div
        class="mt-4 h-10 rounded-md w-full dark:bg-zinc-800 flex justify-between"
      >
        <div class="flex justify-start items-center ml-2">
          <span class="material-symbols-outlined"> calendar_today </span>
          <p
            class="text-gray-600 dark:text-zinc-400 font-semibold text-sm ml-2"
          >
            Created On
          </p>
        </div>
        <!-- date Input -->
        <div class="flex justify-end items-center">
          <span class="dark:text-zinc-300 text-zinc-700 text-sm mr-2">
            {{ transaction.date | date }}
          </span>
          <input
            type="date"
            [(ngModel)]="transaction.date"
            name="date"
            class="bg-transparent mr-2 focus:outline-none fill-current w-5"
          />
        </div>
      </div>
      <!-- Type -->
      <div
        class="mt-4 h-10 rounded-md w-full dark:bg-zinc-800 flex justify-between"
      >
        <div class="flex justify-start items-center ml-2">
          <span class="material-symbols-outlined"> asterisk </span>
          <p
            class="text-gray-600 dark:text-zinc-400 font-semibold text-sm ml-2"
          >
            Type
          </p>
        </div>
        <!-- date Input -->
        <div class="flex justify-end items-center">
          <div class="w-28">
            <button
              (click)="showType = !showType"
              type="button"
              class="text-slate-800 w-28 dark:text-zinc-200 flex justify-center items-center gap-1 font-medium rounded-lg text-sm px-4 p-1.5"
            >
              {{ transaction.type }}
              @if (showType) {

              <span class="material-symbols-outlined"> expand_less </span>
              }@else{
              <span class="material-symbols-outlined"> expand_more </span>
              }
            </button>
            <div
              *ngIf="showType"
              class="animate-fade animate-once h-20 w-28 bg-slate-50 dark:bg-zinc-800 border dark:border-zinc-600 absolute mt-1 rounded-md shadow-2xl grid place-content-center gap-4 z-50"
            >
              <button class="w-full" (click)="selectType('Income')">
                Income
              </button>
              <Button class="w-full" (click)="selectType('Expense')"
                >Expense</Button
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Amount -->
      <!-- <div
          class="mt-4 h-10 rounded-md w-full dark:bg-zinc-800 flex justify-between items-center"
        >
          <div class="flex justify-start items-center ml-2">
            <span class="material-symbols-outlined"> attach_money </span>
            <p class="text-gray-600 dark:text-zinc-400 font-bold text-sm ml-2">
              Amount
            </p>
          </div>
          <div class="flex justify-end items-center w-full">
            <input
              type="number"
              placeholder="Enter amount"
              name="transactionAmount"
              [(ngModel)]="transactionAmount"
              class="bg-transparent w-28 text-right mr-2 border-0 dark:text-zinc-300 text-zinc-700 text-sm border-zinc-800 focus:outline-none placeholder:text-sm placeholder:dark:text-zinc-600 placeholder:dark:font-bold"
            />
          </div>
        </div> -->
    </main>
  </section>

  <!-- Add Category Form -->
  <section
    *ngIf="showCategory"
    class="dark:bg-zinc-900 z-20 fixed md:w-[64rem] bottom-0 h-[80%] w-full bg-[#f8f8ff] text-slate-800 border border-black shadow-md rounded-t-3xl md:rounded-3xl mt-2 animate-fade-up animate-duration-[400ms] animate-ease-in-out"
  >
    <div class="p-3 flex justify-between items-center">
      <h1 class="text-xl dark:text-slate-200 mt-1">Choose category</h1>
    </div>
    <div
      class="h-fit w-full p-3 flex justify-start items-start gap-3 flex-wrap"
    >
      @for (category of categoryList; track category.id) { @if (category &&
      selectedCategory) {
      <button
        (click)="chooseCategory(category)"
        type="button"
        [ngClass]="
          category!.id === selectedCategory!.id
            ? 'dark:bg-zinc-800 bg-slate-200 border-none'
            : ''
        "
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5"
      >
        <span class="material-symbols-outlined fill-current">
          {{ category.imageUrl }}
        </span>
        <p class="mr-2">
          {{ category.title }}
        </p>
        <!-- @if (category.id ===selectedCategory.id) {
        <span
          class="material-symbols-outlined rounded-md dark:text-white z-40"
          (click)="removeCategory(category)"
        >
          close
        </span>
        } -->
      </button>

      }@else{
      <button
        (click)="chooseCategory(category)"
        [ngClass]="
          transaction.categoryId === category.id
            ? 'dark:bg-zinc-800 bg-slate-200 border-none'
            : ''
        "
        type="button"
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5"
      >
        <span class="material-symbols-outlined fill-current">
          {{ category.imageUrl }}
        </span>
        <p class="mr-2">
          {{ category.title }}
        </p>
      </button>
      } }@empty {
      <p class="dark:text-zinc-300">No category yet...</p>
      }

      <!-- Add new -->
      <button
        (click)="isCreateCategory = !isCreateCategory"
        type="button"
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5"
      >
        <span class="material-symbols-outlined"> add </span>
        Add new
      </button>
    </div>
    <!-- Bottom Menu -->
    <div class="fixed bottom-5 z-20 left-2 h-14 w-full">
      <div class="flex justify-between items-center w-full h-full">
        <!-- Back Icon -->
        <div class="p-2 bg-slate-200 dark:bg-zinc-800 rounded-full">
          <svg
            (click)="showCategory = !showCategory"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            class="h-6 w-6 fill-current dark:text-zinc-200 cursor-pointer"
          >
            <path
              d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"
            />
          </svg>
        </div>
        <div class="p-2 mt-2">
          <button
            (click)="showCategory = !showCategory"
            type="button"
            class="text-white bg-zinc-700 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-zinc-700"
          >
            Skip
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Account Popup -->
  <section
    class="dark:bg-zinc-900 z-10 fixed bottom-0 h-[16rem] w-full md:w-[64rem] bg-[#f8f8ff] text-slate-800 border border-black shadow-md rounded-t-3xl md:rounded-3xl mt-2 animate-fade-up animate-duration-[400ms] animate-ease-in-out"
  >
    <div class="p-3 flex justify-between items-center">
      <h1 class="text-xl dark:text-slate-200 mt-1">Account</h1>
    </div>
    <!-- Account chips -->

    <div
      class="h-fit w-full p-3 flex justify-start items-start gap-3 overflow-scroll no-scrollbar"
    >
      @for (account of accountList ; track account.id) { @if (account &&
      selectedAccount) {
      <button
        (click)="chooseAccount(account)"
        type="button"
        [ngClass]="
          account!.id === selectedAccount!.id ||
          transaction.accountId === account!.id
            ? 'dark:bg-zinc-800 bg-slate-200 border-none'
            : ''
        "
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5"
      >
        <span class="material-symbols-outlined fill-current">
          {{ account.imageUrl }}
        </span>
        <p class="mr-2">
          {{ account.title }}
        </p>
        <!-- @if (account.id ===selectedAccount.id) {
        <span class="material-symbols-outlined rounded-md dark:text-white">
          close
        </span>
        } -->
      </button>

      }@else{
      <button
        (click)="chooseAccount(account)"
        [ngClass]="
          account.isDefault || transaction.accountId === account!.id
            ? 'dark:bg-zinc-800 bg-slate-200 border-none'
            : ''
        "
        type="button"
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5"
      >
        <span class="material-symbols-outlined fill-current">
          {{ account.imageUrl }}
        </span>
        <p class="mr-2">
          {{ account.title }}
        </p>
      </button>
      } }@empty {
      <p class="dark:text-zinc-300">No account yet...</p>
      }

      <!-- Add new -->
      <button
        (click)="isCreateAcccount = !isCreateAcccount"
        type="button"
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5 min-w-[8rem]"
      >
        <span class="material-symbols-outlined"> add </span>
        Add new
      </button>
    </div>

    <!-- Amount Input -->
    <div class="flex justify-center items-center h-20 w-full">
      <button
        (click)="onMoneyDialogue()"
        class="dark:text-zinc-300 text-gray-900 text-3xl font-semibold"
      >
        {{ transaction.amount | number : "1.2-2" }}
        <span class="font-normal">INR</span>
      </button>
    </div>

    <!-- Bottom Menu -->
    <div class="fixed bottom-5 left-2 h-14 w-full">
      <div class="flex justify-end items-center w-full h-full">
        <!-- Back imageUrl -->
        <!-- <div class="p-2 bg-slate-200 dark:bg-zinc-800 rounded-full">
          <svg
            (click)="showCategory = !showCategory"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            class="h-6 w-6 fill-current dark:text-zinc-200 cursor-pointer"
          >
            <path
              d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"
            />
          </svg>
        </div> -->
        <div class="p-2 mt-2">
          <button
            (click)="onSave()"
            type="button"
            class="text-white bg-zinc-700 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-zinc-700"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Amount popup -->

  <section
    *ngIf="showMoneyDialogue"
    class="dark:bg-zinc-900 z-30 fixed md:w-[64rem] bottom-0 h-[80%] w-full bg-[#f8f8ff] text-slate-800 border border-black shadow-md rounded-t-3xl md:rounded-3xl mt-2 animate-fade-up animate-duration-[400ms] animate-ease-in-out"
  >
    <div class="p-3 flex justify-between items-center">
      <h1 class="text-xl dark:text-slate-200 mt-1">Account</h1>
    </div>

    <!-- Account chips -->

    <div
      class="h-fit w-full p-3 flex justify-start items-start gap-3 overflow-scroll no-scrollbar"
    >
      @for (account of accountList ; track account.id) { @if (account &&
      selectedAccount) {
      <button
        (click)="chooseAccount(account)"
        type="button"
        [ngClass]="
          account!.id === selectedAccount!.id ||
          transaction.accountId === account!.id
            ? 'dark:bg-zinc-800 bg-slate-200 border-none'
            : ''
        "
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5"
      >
        <span class="material-symbols-outlined fill-current">
          {{ account.imageUrl }}
        </span>
        <p class="mr-2">
          {{ account.title }}
        </p>
        <!-- @if (account.id ===selectedAccount.id) {
        <span class="material-symbols-outlined rounded-md dark:text-white">
          close
        </span>
        } -->
      </button>

      }@else{
      <button
        (click)="chooseAccount(account)"
        [ngClass]="
          account.isDefault || transaction.accountId === account!.id
            ? 'dark:bg-zinc-800 bg-slate-200 border-none'
            : ''
        "
        type="button"
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5"
      >
        <span class="material-symbols-outlined fill-current">
          {{ account.imageUrl }}
        </span>
        <p class="mr-2">
          {{ account.title }}
        </p>
      </button>
      } }@empty {
      <p class="dark:text-zinc-300">No account yet...</p>
      }

      <!-- Add new -->
      <button
        (click)="isCreateAcccount = !isCreateAcccount"
        type="button"
        class="text-slate-800 dark:text-zinc-200 flex justify-center items-center gap-1 border border-gray-300 dark:border-zinc-400 font-medium rounded-lg text-sm px-4 p-1.5 min-w-[8rem]"
      >
        <span class="material-symbols-outlined"> add </span>
        Add new
      </button>
    </div>
    <!-- Amount Input -->
    <div class="flex justify-center items-center h-20 w-full">
      <h1 class="dark:text-zinc-300 text-gray-900 text-3xl font-bold">
        {{ countNumber() }}<span class="font-thin ml-1">INR</span>
      </h1>
    </div>
    <!-- Number Palet -->
    <div
      class="w-52 mx-auto grid grid-rows-4 grid-flow-col gap-4 place-content-between"
    >
      <button
        (click)="updateNumber('7')"
        class="w-12 h-12 overflow-hidden font-bold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        7
      </button>
      <button
        (click)="updateNumber('4')"
        class="w-12 h-12 overflow-hidden font-semibold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        4
      </button>
      <button
        (click)="updateNumber('1')"
        class="w-12 h-12 overflow-hidden font-semibold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        1
      </button>
      <button
        (click)="updateNumber('.')"
        class="w-12 h-12 grid place-content-center font-semibold text-xl text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        .
      </button>

      <!-- 2nd row -->
      <button
        (click)="updateNumber('8')"
        class="w-12 h-12 overflow-hidden font-bold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        8
      </button>
      <button
        (click)="updateNumber('5')"
        class="w-12 h-12 overflow-hidden font-semibold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        5
      </button>
      <button
        (click)="updateNumber('2')"
        class="w-12 h-12 overflow-hidden font-semibold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        2
      </button>
      <button
        (click)="updateNumber('0')"
        class="w-12 h-12 overflow-hidden font-semibold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        0
      </button>

      <!-- 3rd row -->
      <button
        (click)="updateNumber('9')"
        class="w-12 h-12 overflow-hidden font-bold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        9
      </button>
      <button
        (click)="updateNumber('6')"
        class="w-12 h-12 overflow-hidden font-semibold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        6
      </button>
      <button
        (click)="updateNumber('3')"
        class="w-12 h-12 overflow-hidden font-semibold text-lg text-gray-700 dark:text-gray-300 rounded-full border dark:border-zinc-700"
      >
        3
      </button>
      <!-- Clear button -->
      <button
        (click)="clearInput()"
        class="w-12 h-12 grid place-content-center font-semibold text-lg text-gray-700 dark:text-red-600 rounded-full border dark:border-zinc-700"
      >
        <span class="material-symbols-outlined fill-current"> backspace </span>
      </button>
    </div>

    <!-- Bottom Menu -->
    <div class="fixed bottom-5 left-2 h-14 w-full">
      <div class="flex justify-between items-center w-full h-full">
        <!-- Back Icon -->
        <div class="p-2 bg-slate-200 dark:bg-zinc-800 rounded-full">
          <svg
            (click)="showMoneyDialogue = !showMoneyDialogue"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            class="h-6 w-6 fill-current dark:text-zinc-200 cursor-pointer"
          >
            <path
              d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"
            />
          </svg>
        </div>
        <div class="p-2 mt-2">
          <button
            (click)="onMoneyEnter()"
            type="button"
            class="text-white bg-emerald-500 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-emerald-600"
          >
            Enter
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Create Category -->

  <app-dialog
    title="Create Category"
    btnTitle="Add"
    zIndex="z-30"
    [isIconOpen]="isIconOpen"
    [isDialogOpen]="isCreateCategory"
    (closeDialogEvent)="onDialogClose($event)"
    (confrimDialogEvent)="onDialogConfirm($event)"
    (iconSelectEvent)="onIconSelect($event)"
    (iconCloseEvent)="onIconClose($event)"
  >
    <div class="">
      <div class="w-56 mx-auto h-full flex items-center mt-10 gap-2">
        <button
          (click)="isIconOpen = !isIconOpen"
          type="button"
          class="dark:bg-zinc-700 dark:text-zinc-300 grid place-content-center border dark:border-zinc-600 rounded-full p-2 w-10 h-10"
        >
          <span
            class="material-symbols-outlined dark:text-zinc-300 text-gray-800"
          >
            {{ selectedIcon }}
          </span>
        </button>
        <input
          type="text"
          [(ngModel)]="category.title"
          name="name"
          placeholder="Enter name"
          class="bg-transparent w-full border-0 text-2xl border-zinc-800 dark:text-zinc-300 text-gray-800 focus:outline-none placeholder:text-3xl placeholder:dark:text-zinc-600 placeholder:dark:font-bold"
        />
      </div>
    </div>
  </app-dialog>

  <!-- Create Account -->
  <app-dialog
    title="Create Account"
    btnName="Add"
    zIndex="z-30"
    [isIconOpen]="isIconOpen"
    [isDialogOpen]="isCreateAcccount"
    (closeDialogEvent)="onAccountDialogClose($event)"
    (confrimDialogEvent)="onAccountDialogConfirm($event)"
    (iconSelectEvent)="onIconSelect($event)"
    (iconCloseEvent)="onAccountIconClose($event)"
  >
    <main>
      <div class="w-56 mx-auto h-full flex items-center mt-10 gap-2">
        <button
          (click)="isIconOpen = !isIconOpen"
          type="button"
          class="dark:bg-zinc-700 dark:text-zinc-300 grid place-content-center border dark:border-zinc-600 rounded-full p-2 w-10 h-10"
        >
          <span
            class="material-symbols-outlined dark:text-zinc-300 text-gray-800"
          >
            {{ selectedIcon }}
          </span>
        </button>
        <input
          type="text"
          [(ngModel)]="account.title"
          name="name"
          placeholder="Enter name"
          class="bg-transparent w-full border-0 text-2xl border-zinc-800 dark:text-zinc-300 text-gray-800 focus:outline-none placeholder:text-3xl placeholder:dark:text-zinc-600 placeholder:dark:font-bold"
        />
      </div>
    </main>
  </app-dialog>
</app-layout>
